{% extends 'parking_app/base_template.html' %} {% load static %} {% load humanize %}
{% block content %}


<div class="container py-4 bg-light d-flex justify-content-center border border-dark">
  <form method="post">
    {% csrf_token %}
    {{ signup_form.as_p }}
    <div class="d-flex justify-content-center mt-4 mb-2">
      <button class="btn btn-info" type="submit">Signup</button>
    </div>
  </form>
</div>

<div class="container bg-light d-flex justify-content-center">
  <nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav">
      <li class="nav-item">
        Already have an account?
        <a class="nav-link" href="{% url 'user:login_page' %}">Login</a>
      </li>
    </ul>
  </nav>
</div>

{% endblock %}