@font-face {
  font-family: "BarlowSemiCondensed-ExtraBold";
  src: url("../fonts/BarlowSemiCondensed-ExtraBold.woff2") format("woff2"), url("../fonts/BarlowSemiCondensed-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BarlowSemiCondensed-Regular";
  src: url("../fonts/BarlowSemiCondensed-Regular.woff2") format("woff2"), url("../fonts/BarlowSemiCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BarlowSemiCondensed-Thin";
  src: url("../fonts/BarlowSemiCondensed-Thin.woff2") format("woff2"), url("../fonts/BarlowSemiCondensed-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ComicNeue-Regular";
  src: url("../fonts/ComicNeue-Regular.woff2") format("woff2"), url("../fonts/ComicNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSansCondensed-ExtraBold";
  src: url("../fonts/FiraSansCondensed-ExtraBold.woff2") format("woff2"), url("../fonts/FiraSansCondensed-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSansCondensed-Regular";
  src: url("../fonts/FiraSansCondensed-Regular.woff2") format("woff2"), url("../fonts/FiraSansCondensed-Regular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSansCondensed-Thin";
  src: url("../fonts/FiraSansCondensed-Thin.woff2") format("woff2"), url("../fonts/FiraSansCondensed-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IndieFlower";
  src: url("../fonts/IndieFlower.woff2") format("woff2"), url("../fonts/IndieFlower.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlab-Regular";
  src: url("../fonts/RobotoSlab-Regular.woff2") format("woff2"), url("../fonts/RobotoSlab-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlab-ExtraBold";
  src: url("../fonts/RobotoSlab-ExtraBold.woff2") format("woff2"), url("../fonts/RobotoSlab-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlab-Thin";
  src: url("../fonts/RobotoSlab-Thin.woff2") format("woff2"), url("../fonts/RobotoSlab-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Signika-Regular";
  src: url("../fonts/Signika-Regular.woff2") format("woff2"), url("../fonts/Signika-Regular.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sniglet-ExtraBold";
  src: url("../fonts/Sniglet-ExtraBold.woff2") format("woff2"), url("../fonts/Sniglet-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sniglet-Regular";
  src: url("../fonts/Sniglet-Regular.woff2") format("woff2"), url("../fonts/Sniglet-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SONGERCondensed-ExtraBold";
  src: url("../fonts/SONGERCondensed-ExtraBold.woff2") format("woff2"), url("../fonts/SONGERCondensed-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SONGERCondensed";
  src: url("../fonts/SONGERCondensed.woff2") format("woff2"), url("../fonts/SONGERCondensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SONGERGrotesque-ExtraBold";
  src: url("../fonts/SONGERGrotesque-ExtraBold.woff2") format("woff2"), url("../fonts/SONGERGrotesque-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SONGERGrotesque";
  src: url("../fonts/SONGERGrotesque.woff2") format("woff2"), url("../fonts/SONGERGrotesque.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SONGERSemiExpanded-ExtraBold";
  src: url("../fonts/SONGERSemiExpanded-ExtraBold.woff2") format("woff2"), url("../fonts/SONGERSemiExpanded-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.primFont {
  font-family: "BarlowSemiCondensed-Regular";
}

.tertiaryFont {
  font-family: "BarlowSemiCondensed-ExtraBold";
}

.boldFont {
  font-weight: 700;
}

.semiBoldFont {
  font-weight: 600;
}

.whiteColor {
  color: white;
}

.darkPrimaryColor {
  color: #004666;
}

.primaryColor {
  color: #00aaff;
}

.brightPrimaryColorBG {
  background-color: #e6f7ff;
}

.largerFontSize {
  font-size: larger;
}

.line {
  border: solid #00aaff;
  border-width: 0 3px 0 0;
  display: inline-block;
  padding: 0.8em 0;
  margin: 4px;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "BarlowSemiCondensed-Regular";
}

body {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  color: #004666;
}

body #homeWrapper {
  min-height: 75vh;
}

body #mainNavigation a {
  color: black;
}

body #form_inspirationDiv {
  background-image: url("../pics/site_BG.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-clip: padding-box;
}

body #form_inspirationDiv #formDiv {
  background-color: white;
  font-size: xx-large;
}

body #form_inspirationDiv #inspirationDiv {
  font-family: "BarlowSemiCondensed-Thin";
  font-size: x-large;
  color: white;
}

body .fromLeft {
  opacity: 0;
  transform: translate(-12px, 0px);
  transition: opacity 750ms ease-in-out, transform 500ms ease-out;
}

body .fromRight {
  opacity: 0;
  transform: translate(12px, 0px);
  transition: opacity 750ms ease-in-out, transform 500ms ease-out;
}

body .normal {
  opacity: 1;
  transform: translate(0px, 0px);
  transition: opacity 750ms ease-in-out, transform 500ms ease-out;
}

footer #footerDetails {
  color: #00aaff;
  text-align: center;
}

footer #footerDetails #socialMediaLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
}

footer #footerDetails #socialMediaLinks a {
  color: #004666;
  font-size: larger;
  text-decoration: none;
  font-weight: 600;
}

@media only screen and (max-width: 992px) {
  body #form_inspirationDiv .line {
    display: none;
  }
}
