#locationdemo_map {
  margin: 0;
  width: 100%;
  height: 500px;
  font-family: sans-serif;
  background-color: #003333;
}

#issuesmap {
  margin: 0;
  width: 100%;
  height: 500px;
  font-family: sans-serif;
  background-color: #003333;
}
