@font-face {
  font-family: "BarlowSemiCondensed-ExtraBold";
  src: url("../fonts/BarlowSemiCondensed-ExtraBold.woff2") format("woff2"),
    url("../fonts/BarlowSemiCondensed-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BarlowSemiCondensed-Regular";
  src: url("../fonts/BarlowSemiCondensed-Regular.woff2") format("woff2"),
    url("../fonts/BarlowSemiCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BarlowSemiCondensed-Thin";
  src: url("../fonts/BarlowSemiCondensed-Thin.woff2") format("woff2"),
    url("../fonts/BarlowSemiCondensed-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ComicNeue-Regular";
  src: url("../fonts/ComicNeue-Regular.woff2") format("woff2"),
    url("../fonts/ComicNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSansCondensed-ExtraBold";
  src: url("../fonts/FiraSansCondensed-ExtraBold.woff2") format("woff2"),
    url("../fonts/FiraSansCondensed-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSansCondensed-Regular";
  src: url("../fonts/FiraSansCondensed-Regular.woff2") format("woff2"),
    url("../fonts/FiraSansCondensed-Regular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSansCondensed-Thin";
  src: url("../fonts/FiraSansCondensed-Thin.woff2") format("woff2"),
    url("../fonts/FiraSansCondensed-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IndieFlower";
  src: url("../fonts/IndieFlower.woff2") format("woff2"),
    url("../fonts/IndieFlower.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlab-Regular";
  src: url("../fonts/RobotoSlab-Regular.woff2") format("woff2"),
    url("../fonts/RobotoSlab-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlab-ExtraBold";
  src: url("../fonts/RobotoSlab-ExtraBold.woff2") format("woff2"),
    url("../fonts/RobotoSlab-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "RobotoSlab-Thin";
  src: url("../fonts/RobotoSlab-Thin.woff2") format("woff2"),
    url("../fonts/RobotoSlab-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Signika-Regular";
  src: url("../fonts/Signika-Regular.woff2") format("woff2"),
    url("../fonts/Signika-Regular.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sniglet-ExtraBold";
  src: url("../fonts/Sniglet-ExtraBold.woff2") format("woff2"),
    url("../fonts/Sniglet-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sniglet-Regular";
  src: url("../fonts/Sniglet-Regular.woff2") format("woff2"),
    url("../fonts/Sniglet-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SONGERCondensed-ExtraBold";
  src: url("../fonts/SONGERCondensed-ExtraBold.woff2") format("woff2"),
    url("../fonts/SONGERCondensed-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SONGERCondensed";
  src: url("../fonts/SONGERCondensed.woff2") format("woff2"),
    url("../fonts/SONGERCondensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: "SONGERGrotesque-ExtraBold";
  src: url("../fonts/SONGERGrotesque-ExtraBold.woff2") format("woff2"),
    url("../fonts/SONGERGrotesque-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SONGERGrotesque";
  src: url("../fonts/SONGERGrotesque.woff2") format("woff2"),
    url("../fonts/SONGERGrotesque.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SONGERSemiExpanded-ExtraBold";
  src: url("../fonts/SONGERSemiExpanded-ExtraBold.woff2") format("woff2"),
    url("../fonts/SONGERSemiExpanded-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
