
@import "fontsface";

$primaryColor: rgb(0, 170, 255);
$darkPrimaryColor: rgb(0, 70, 102);
$brightPrimaryColor:rgb(230, 247, 255);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$brightOrangeColor: rgb(255, 237, 204);
$primaryFont: "BarlowSemiCondensed-Regular";
$secondaryFont: Verdana, Geneva, sans-serif;
$tertiaryFont: "BarlowSemiCondensed-ExtraBold";