.text-error {
  color: red;
}

.light-Aqua-BG {
  background-color: #efffff;
}

#sampleannotation_map,
#normal2BScan_map,
#disease2BScan_map {
  margin: 0;
  width: 100%;
  height: 500px;
  font-family: sans-serif;
}

#sampleannotation_map {
  background-color: rgb(230, 250, 255);
}

#disease2BScan_map {
  background-color: rgb(0, 34, 51);
  height: 400px;
}

#normal2BScan_map {
  background-color: rgb(0, 104, 104);
  height: 400px;
}

.ol-popup, .normal2Bpopup_popup {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}

.ol-popup:after,
.ol-popup:before,
.normal2Bpopup_popup:after,
.normal2Bpopup_popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after,
.normal2Bpopup_popup:after {
  border-top-color: #ccc;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}


.ol-popup:before,
.normal2Bpopup_popup:before {
  border-top-color: #ccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer,
.normal2B_popup_closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-closer:after,
.normal2B_popup_closer:after {
  content: "×";
}
